<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url={{page.location}}">

    <link rel="icon" type="image/png" href="https://www.stellarvector.be/assets/logo/favicon.ico">
    <meta name="robots" content="noindex, follow">

    <title>Go Stellar Vector Redirect</title>
</head>
<body>
    Redirecting to <a href="{{page.location}}">{{page.location}}</a>...
</body>
<script defer data-domain="go.stellarvector.be" src="https://plausible.stellarvector.be/js/script.hash.outbound-links.pageview-props.js"></script>
</html>
